.aside-left, .aside-right {

}

.aside-left {
    float: left;
    width: 62%;
}

.aside-right {
    float: right;
    width: 36%;
}

.live, .aside-right {
    box-sizing: border-box;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
}

.live {
    margin-bottom: 20px;
}

.user-image {
    width: 40px;
    border-radius: 20px;
    margin-right: 20px;
}

.live-image {
    max-width: 100%;
}

.bad, .response {
    margin-left: 10px;
}
