<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>热门</title>
    {%include "common/css.html"%}
    <link rel="stylesheet" type="text/css" href="{{static_url('index/index.css')}}">
</head>
<body>
{%include "common/header.html"%}
<div class="hd-nav">
    <ul class="clear">
        <li class="hd-nav-active"><a href="/">热门</a></li>
        <li><a href="#">精华</a></li>
        <li><a href="#">最新</a></li>
        <li><a href="/submit">投稿</a></li>
    </ul>
</div>
<div id="content" class="clear">
    <div class="aside-left">
        {%for live in lives%}
        {%include "common/live-block.html"%}
        {%end%}
    </div>
    {%include "common/aside-right.html"%}
</div>

{%include "common/footer.html"%}
{%include "common/js.html"%}

<script type="text/javascript" src="{{static_url('index/index.js')}}"></script>
</body>
</html>