{%extends user.html%}
{%block live%}
<ul class="info-title clear">
    <li><a href="/user/{{user['_id']}}">生活百科</a></li>
    <li><a href="/user/{{user['_id']}}/comment">评论</a></li>
    <li class="info-title-active"><a href="/user/{{user['_id']}}/reply">@我</a></li>
</ul>
{%end%}