<link rel="stylesheet" type="text/css" href="{{static_url('common/reset.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('lib/bootstrap/css/bootstrap.css')}}">

<link rel="stylesheet" type="text/css" href="{{static_url('common/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{static_url('common/util.css')}}">