<style type="text/css">
    .focus {
        float: right;
        color: #aaa;
        font-size: 14px;
        display: inline-block;
        zoom: 1;
        height: 40px;
        line-height: 40px;
    }
</style>

<div class="live">
    <h4>
        <a href="/user/{{live['user']['_id']}}">
            <img class="user-image" src="{{live['user']['image']}}">{{live['user']['username']}}
        </a>
        {%if user != live["user"]%}
        {%if live["focus"]%}
        <a href="javascript:;" class="focus" data-id="{{live['user']['_id']}}">已关注</a>
        {%else%}
        <a href="javascript:;" class="focus j-focus" data-id="{{live['user']['_id']}}">+关注</a>
        {%end%}
        {%end%}
    </h4>

    <p>{{live["message"]}}</p>

    <p>
        <a href="/live/{{live['_id']}}">
            <img class="live-image" src="{{live['image']}}">
        </a>
    </p>

    <p style="margin-top: 20px">
        <a class="good" data-id="{{live['_id']}}" href="javascript:;">有用</a>
        (<span class="count-good">{{live["good_count"]}}</span>)
        <a class="bad" data-id="{{live['_id']}}" href="javascript:;">拍砖</a>
        (<span class="count-bad">{{live["bad_count"]}}</span>)
        <a class="response" href="/live/{{live['_id']}}" target="_blank">回复</a>
        (<span class="count-response">{{live["response_count"]}}</span>)
    </p>
</div>