<div class="hd-nav">
    <ul class="clear">
        <li><a href="/">热门</a></li>
        <li><a href="#">精华</a></li>
        <li><a href="#">最新</a></li>
        <li><a href="/submit">投稿</a></li>
    </ul>
</div>