<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<form action="/" method="post">
    <input type="text" name="name">
    <input type="submit" value="submit">
</form>
This is index page
{{name}}
<script type="text/javascript" src={{static_url('js/core/jquery.js')}}></script>
</body>
</html>