<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}">
</head>
<body>
<h1>The Alpha Munger</h1>

<form action="/poem" method="post">
    <h3>Source Text</h3>
    <textarea name="source"></textarea>

    <h3>Text for replacement</h3>
    <textarea name="change"></textarea>

    <input type="submit" value="submit">
</form>

</body>
</html>