.clear:before, .clear:after {
    display: table;
    content: "";
    line-height: 0;
}

.clear:after {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.color-666 {
    color: #666;
}

.color-999 {
    color: #999;
}

.h4{
    color:#000;
}