body {
    margin: 0;
    padding: 0;
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff;
}

#container{
    width:1210px;
    margin:0 auto;
    border:1px solid #ccc;
}

#header {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #F7F7F7;
}
#body{

}
#footer{

}