<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}base title{% end %}</title>
    <link rel="stylesheet" type="text/css" href="{{static_url('base/base.css')}}">
</head>
<body>
<div id="container">
    <header id="header">
        {% block header %}
        base header
        {% end %}
    </header>
    <section id="body">
        {% block body %}
        base body
        {% end %}
    </section>
    <footer id="footer">
        {% block footer %}
        base footer
        {% end %}
    </footer>
</div>
</body>
</html>